@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #a14444;
  --primary-color-dark: #a14444;
  --red-color-image: #8e1318;
  --text-dark: #333333;
  --text-light: #767268;
  --white: #ffffff;
  --background: #ddcabb;
  --gradient-light: #e6d6c5;
  --gradient-dark: #cbb8a6;
  --max-width: 1200px;
  --header-font: "Bebas Neue", sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(
    var(--gradient-light) 20%,
    var(--background) 50%,
    var(--gradient-dark) 80%
  );
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background);
  border: none;
}

.nav__logo a {
  font-size: 1.75rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--primary-color);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--primary-color);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-color);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 500;
  color: var(--white);
}

.nav__links a:hover {
  color: var(--text-dark);
}

.nav__btns {
  display: none;
}

.content_main {
  display: flex;
  flex-direction: column;
}

.header__container {
  max-width: var(--max-width);
  margin: auto;
  padding-block: 8rem 2rem;
  padding-inline: 1rem;
  display: grid;
  gap: 2rem;
  overflow-x: hidden;
  overflow-y: hidden;

  height: 100vh;
}

.header__image {
  position: relative;
  isolation: isolate;
}

.header__image::before {
  position: absolute;
  content: "";
  width: 100%;
  max-width: 550px;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--red-color-image);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 100%;
  opacity: 0.5;
  z-index: -1;
}

.header__image img {
  max-width: 520px;
  margin-inline: auto;
}

.header__image__card {
  position: absolute;
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text-dark);
  background-color: var(--white);
  white-space: nowrap;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header__image__card span {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.header__image__card-1 {
  top: 25%;
  left: 10;
  transform: translate(-50%, -50%);
}

.header__image__card-2 {
  top: 1%;
  right: 0rem;
  transform: translateY(-50%);
}

.header__image__card-3 {
  top: 80%;
  left: 0;
  transform: translateY(-50%);
}

.header__image__card-4 {
  top: 65%;
  right: 0rem;
  transform: translateY(-50%);
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 5rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--text-dark);
  line-height: 5.5rem;
  text-align: center;
}

.header__content {
  margin-bottom: 60px;
}

.header__content h1 span {
  color: var(--primary-color);
}

.header__content p {
  margin-bottom: 2rem;
  columns: var(--text-light);
  line-height: 1.75rem;
  text-align: center;
}

.header__content form {
  margin-bottom: 4rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem 0;
  border-radius: calc(1rem + 10px);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.header__content .input__row {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

.header__content .input__group {
  flex: 1;
}

.header__content .input__group h5 {
  margin-bottom: 5px;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-light);
}

.header__content .input__group > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__content input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 0.9rem;
  background-color: transparent;
}

.header__content input::placeholder {
  font-weight: 600;
  color: var(--text-dark);
}

.header__content .input__group span {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--primary-color);
}

.header__content button {
  width: 100%;
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  white-space: nowrap;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.header__content button:hover {
  background-color: var(--primary-color-dark);
}

.header__content .bar {
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}

@media (width > 768px) {
  nav {
    position: static;
    padding-block: 2rem 0;
    padding-inline: 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav__logo a {
    color: var(--text-dark);
  }

  .nav__logo a span {
    color: var(--primary-color);
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none;
  }

  .nav__links a {
    padding-block: 5px;
    color: var(--text-dark);
    border-bottom: 4px solid transparent;
  }

  .nav__links a:hover {
    border-color: var(--primary-color);
  }

  .nav__btns {
    display: flex;
    flex: 1;
  }

  .nav__btns .btn {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
  }

  .sign__up {
    color: var(--text-dark);
    background-color: transparent;
  }

  .sign__up:hover {
    color: var(--primary-color);
  }

  .sign__in {
    color: var(--white);
    background-color: var(--primary-color);
  }

  .sign__in:hover {
    background-color: var(--primary-color-dark);
  }

  .header__container {
    padding-block: 2rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .header__image {
    grid-area: 1/2/2/3;
    margin-bottom: 80px;
  }

  .header__content :is(h1, p, .bar) {
    text-align: left;
  }
}

.img-dora {
  max-height: 500px;
  border-radius: 1000px;
}

@media (max-width: 1110px) {
  .header__image__card {
    display: none;
  }
}

@media (max-width: 769px) {
  .img-dora {
    max-height: 300px;
    width: 300px;
    border-radius: 1000px;
  }

  .header__image::before {
    display: none;
  }
}

@media (max-width: 528px) {
  .img-dora {
    max-height: 200px;
    width: 200px;
    border-radius: 1000px;
  }

  .header__image::before {
    display: none;
  }

  .header__content h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 200;
    font-family: var(--header-font);
    color: var(--text-dark);
    line-height: 3.5rem;
    text-align: center;
  }
}

@media (width > 1024px) {
  .header__content form {
    flex-direction: row;
  }

  .header__content button {
    width: fit-content;
  }
}

.header_section_therapy_importance {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: top;
  flex-direction: row;
}

.header_section_therapy_importance img {
  height: 150px;
  width: 150px;
  border-radius: 1000px;
}

.therapy__importance {
  background-color: var(--gradient-dark);
  /* height: 100vh; */
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.therapy__importance h2 {
  text-align: center;
  font-size: 3rem;
  font-family: var(--header-font);
  margin-bottom: 20px;
  color: var(--primary-color);
}

.therapy__importance p {
  text-align: center;
  font-size: 1.2rem;
  color: var(--text-dark);
  margin-bottom: 60px;
  max-width: 800px;
}

.benefits__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.benefit__card {
  background-color: var(--background);
  border-radius: 15px;
  padding: 40px;
  width: 280px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.benefit__card:hover {
  transform: translateY(-15px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

.benefit__card h3 {
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-bottom: 15px;
  font-weight: 600;
  text-align: center;
}

.benefit__card .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: var(--primary-color);
  border-radius: 50%;
  font-size: 1.8rem;
}

.benefit__card p {
  font-size: 1rem;
  color: var(--text-light);
  line-height: 1.6;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .therapy__importance {
    padding: 100px 20px;
  }
}

@media (max-width: 600px) {
  .header_section_therapy_importance img {
    display: none;
  }
}

@media (max-width: 850) {
  .therapy__importance {
    height: auto;
  }
}

@media (min-width: 1024px) {
  .benefit__card {
    width: 320px;
    padding: 50px;
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--background);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
  border: 3px solid var(--background);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a14444;
}

::-webkit-scrollbar-corner {
  background-color: var(--background);
}

.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 4rem 2rem;
  background: radial-gradient(
    var(--gradient-light) 20%,
    var(--background) 50%,
    var(--gradient-dark) 80%
  );

  height: auto;
}

.about__content {
  flex: 1;
  max-width: 600px;
}

.about__title {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.about__subtitle {
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
}

.about__description {
  font-size: 1rem;
  line-height: 1.8;
  color: var(--primary-color);
  margin-bottom: 2rem;
}

.about__button {
  display: inline-block;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.about__button:hover {
  background-color: var(--primary-color);
}

.about__image {
  position: relative;
  flex: 1;
  max-width: 500px;
}

.about__image__background {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100%;
  height: 100%;
  background-color: #7a4a45;
  border-radius: 20px;
  z-index: 1;
}

.about__image img {
  position: relative;
  width: 100%;
  max-height: 700px;
  border-radius: 20px;
  z-index: 2;
}

@media (max-width: 750px) {
  .about__subtitle {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 470px) {
  .about__subtitle {
    font-size: 1.25rem;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
  }

  .about__content {
    width: 100%;
  }

  .about__button {
    width: 100% !important;
    margin: 0 auto;
  }

  .about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 4rem 2rem;
    background: radial-gradient(
      var(--gradient-light) 20%,
      var(--background) 50%,
      var(--gradient-dark) 80%
    );

    height: auto;
  }

  .about__image {
    max-width: 200px;
  }
}

.about__image__responsive img {
  position: relative;
  width: 100%;
  max-height: 700px;
  border-radius: 20px;
  z-index: 2;
}

@media (max-width: 470px) {
  .about__image img {
    display: none;
  }

  .about__image__background_responsive {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100%;
    height: 100%;
    background-color: #7a4a45;
    border-radius: 20px;
    z-index: 1;
  }

  .about__image__responsive img {
    width: 100%;
    max-height: 500px;
    border-radius: 20px;
    z-index: 2;
    margin-bottom: 40px;
  }

  .about__image__responsive {
    position: relative;
    flex: 1;
    max-width: 500px;
  }

  .about {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 470px) {
  .about__image__responsive img {
    display: none;
  }
}

@media (max-width: 470px) {
  .about__image__background img {
    max-width: 200px;
  }

  .about__image_responsive img {
    display: none;
  }
}

.faq-section {
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: var(--gradient-light);
  color: var(--text-light);
  text-align: center;
  display: flex;
  flex-direction: column;
  height: auto;
}

.faq-title {
  font-family: var(--header-font);
  color: var(--primary-color);
  margin-bottom: 20px;
  font-size: 24px;
}

.faq-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  gap: 10px;
}

.faq-item p {
  margin: 0;
  font-size: 16px;
}

.faq-icon {
  font-size: 18px;
  color: var(--primary-color);
}

.faq-footer {
  margin-top: 40px;
  text-align: center;
  background-color: var(--gradient-light);
  padding: 20px;
}

.faq-footer .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.faq-footer .logo img {
  width: 50px;
  height: auto;
}

.faq-footer .logo p {
  margin: 10px 0 0;
  font-size: 14px;
  color: var(--primary-color-dark);
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.social-icons a {
  color: var(--primary-color-dark);
  font-size: 20px;
}

.social-icons a img {
  width: 24px;
  height: 24px;
}

.copyright {
  font-size: 12px;
  color: var(--text-light);
}

details {
  margin: 10px 0;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 10px;
  background: var(--background-light);
  transition: box-shadow var(--transition-speed);
}

details[open] {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 150px;
}

summary {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: color var(--transition-speed);
}

summary:hover {
  color: var(--primary-color);
}

summary::after {
  content: "+";
  font-size: 18px;
  margin-left: auto;
  transition: transform var(--transition-speed);
}

details[open] summary::after {
  transform: rotate(45deg);
}

details p {
  margin: 10px 0 0;
  font-size: 14px;
  color: var(--text-muted);
  line-height: 1.5;
  transition: opacity var(--transition-speed), transform var(--transition-speed);
  transform: translateY(-10px);
  opacity: 0;
}

details[open] p {
  transform: translateY(0);
  opacity: 1;
}
